<h1>Characters</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Species</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let character of allCharacters" (click)="goToDetail(character.id)">
            <th scope="row">{{character.id}}</th>
            <td>{{character.name}}</td>
            <td>{{character.gender}}</td>
            <td>{{character.species}}</td>
        </tr>
    </tbody>
</table>